

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: rgb(3, 3, 8);
    overflow: hidden;
}

li{
    float: left;
    border-right: 1px solid white;
}

a {
    display: block;
    padding: 9px 9px;
    color: rgb(197, 123, 20);
    text-decoration: none;
    text-align: center;
}

li a:hover {
    background-color: rgb(177, 178, 206);
}

.flink {
    background-color: seashell;
}